@import "../../node_modules/vue-toastification/src/scss/_variables.scss";

$vt-color-default: #3b3bd1;
$vt-color-info: #ffffff;
$vt-color-success: #ffffff;
$vt-color-error: #ffffff;
$vt-color-warning: #ffffff;

$text-color-defined: #404040;
$vt-text-color-default: $text-color-defined;
$vt-text-color-info: $text-color-defined;
$vt-text-color-error: $text-color-defined;
$vt-text-color-success: $text-color-defined;
$vt-text-color-warning: $text-color-defined;

$vt-toast-min-width: 426px !default;
$vt-toast-max-width: 500px !default;

@import "../../node_modules/vue-toastification/src/scss/_progressBar";
@import "../../node_modules/vue-toastification/src/scss/_toast";
@import "../../node_modules/vue-toastification/src/scss/_toastContainer";
@import "../../node_modules/vue-toastification/src/scss/_closeButton";
